.wrapper {
  margin: 20px auto;
  width: 450px;
}

.turn-bar {
  display: flex;
  justify-content: center;
}

.turn-bar .bar {
  flex-basis: 50%;
  text-align: center;
  min-height: 50px;
  font-size: 32px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 0 10px 0 10px;
}

.turn-bar .vs {
  font-size: 42px;
}

.table-wrap {
  margin-top: 40px;
  background: orange;
}

.table-row {
  display: flex;
  height: 130px;
}

.table-row .btn {
  flex-basis: 33.33%;
  text-align: center;
  font-size: 84px;
  border: 2px solid black;
  line-height: 105px;
  color: white;
}

.footer {
  margin: 40px auto;
  text-align: center;
}

.footer .btn-start-reset {
  height: 35px;
  min-width: 120px;
}

.action {
  background: blue;
  color: white;
}
